body {
    margin: 0;
}

.flex-container {
    display: flex;
}

.half-width {
    padding: 10px 5% 10px 5%;
    width: 50%;
}

.half-width img {
    width: 85%;
}

h1 {
    font-size: 60px;
}

p {
    font-size: 20px;
}

.color-orange {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: rgb(228, 87, 62);
    padding: 10px 25px;
    border-radius: 5px;

}