body {
    margin: 0;
}

.flex-container {
    display: flex;
}

.half-width {
    padding: 10px 10% 10px 10%;
    width: 50%;
}

.half-width img {
    width: 85%;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: rgb(0, 0, 46);
}

h3 {
    font-size: 35px;
}

p {
    font-size: 20px;
    text-align: justify;
}

.color-orange {
    color: orange;
}

.link-button {
    text-decoration: none;
    color: white;
    background-color: rgb(228, 87, 62);
    padding: 10px 25px;
    border-radius: 5px;
}

.my-mission {
    padding: 0 10% 0 10%;
    margin-bottom: 100px;
}

.my-mission-element {
    width: 30%;
    padding: 3% 2% 3% 2%;
    border-radius: 20px;
    margin: 2%;
}

.my-mission-element img {
    width: 60%;
}

.develop {
    margin: 5px 5% 5px 5%;
    background-image: url(mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left;
}

.one-third-width img {
    width: 70%;
    margin-left: 15%;
}